* {
  box-sizing: border-box;
}

html, body, #root, .App, .stream {
  height: 100%;
} 

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.entry {
  display: flex;
  flex-direction: row;
  align-items: end;
  border: 1px solid #ccc;
}

.entry > textarea {
  flex: 1;
  resize: none;
  width: 100%;
  max-height: 100px;
  min-height: 50px;
  border: none;
}

.entry > textarea:focus {
  outline: none !important;
}

.entry > input {
  height: min-content;
}

.column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 500px;
}

.notes {
  display: flex;
  flex-direction: column-reverse;
  padding: 10px 30px 10px 10px;
}

.column > * {
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 20px 10px 20px;
  margin: 10px;
  width: 100%;
}

.card .main {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.card .details > * {
  margin: 2px;
  padding: 0;
  font-size: 0.75em;
}

.card .text {
  flex: 1;
}

.card .text textarea {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
}

.info > * {
  text-align: left;
  margin-bottom: 5px;
  width: 100%;
  overflow-wrap: break-word;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 20px;
}

.actions > * {
  background-color: transparent;
  border: none;
  margin-bottom: 5px;
}
.actions > *:hover {
  cursor: pointer;
}

